<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="OneTransitAPIKey" value="04a935ed-3d58-4310-8a37-3e497edfc051" />
    <add key="FoursquareConsumerKey" value="PDY4KOZNT0ATYIGSKL5B1UJBFZLWZP0LO45DILYRDC5CRTRL" />
    <add key="FoursquareConsumerSecret" value="ZAJR0UOQAZSZ1MZFGP5NZ1ADXUV5OMECBD0RQEO14OOJUEZN" />
    <add key="TwilioAccountSid" value="AC5057e5ab36685604eecc9b1fdd8528e2" />
    <add key="TwilioAuthToken" value="309e6930d27b624bbfaa45dac382c6ae" />
    <add key="TwilioNumber" value="313-829-0481" />
    <add key="BingMapsKey" value="Aluyrat6DXxRxnPWWlm-4RxNj0EhxcP5EOafE9YOCu1mIat_5ugCIrAOIIEq1SXl" />
    <add key="TransitStopRadius" value="500" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
