html
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
    width: 300px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 16px;
}

a
{
    color: #0CBADF;
}

#container
{
}

#header
{
    padding: 10px 0px;
}

#header h1
{
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#header h1 a
{
    text-decoration: none;
    background-color: #0CBADF;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#header p
{
    font-weight: bold;
}

#footer
{
    color: #999999;
    padding-top: 20px;
}

#main
{
    padding: 10px 0px 0px 0px;
}

#main input, #main select
{
    padding: 10px;
    font-size: large;
    font-weight: normal;
    font-family: Helvetica;
}

.section
{
    padding-top: 40px;
}

.welcome
{
}

#smile
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    font-size: 72px;
    font-weight: bold;
    line-height: 1em;
    width: 50px;
    margin: 0px auto;
}

form p
{
    position: relative;
}

label
{
    position: absolute;
    top: 0;
    left: 0;
}

.notification
{
    background-color: #E6C843;
    padding: 5px;
    font-size: 12px;
    line-height: 1.3em;
    width: 60%;
    margin: -20px auto;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input.labelify
{
    color: #aaaaaa;
}

.success
{
    background-color: #42A84F;
    border-bottom: 3px solid #288033;
    color: white;
    font: normal normal 500 large/normal Arial, Helvetica, clean, sans-serif;
    text-align: center;
}

.warning
{
    background-color: #E6C843;
    border-bottom: 3px solid #C2A213;
    color: white;
    font: normal normal 500 large/normal Arial, Helvetica, clean, sans-serif;
    text-align: center;
}

.error
{
    background-color: #E64343;
    border-bottom: 3px solid #B53333;
    color: white;
    font: normal normal 500 large/normal Arial, Helvetica, clean, sans-serif;
    text-align: center;
}
